AllowShortIfStatementsOnASingleLine: false
BasedOnStyle: LLVM
BinPackParameters: false
BreakBeforeBraces: Linux
ColumnLimit: 80
IndentCaseLabels: false
IndentWidth: 4
ReflowComments: true
SortIncludes: true
UseTab: Never
---
Language: Cpp
Standard: C++11
